* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Copperplate',fantasy;
}

body{
    height: 109vh;
    background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt4c9617a1e1d8fb4d/6379fa48b506a15c10d2871c/AFF_Squad_Indonesia.jpg);
    box-shadow: rgba(0, 0, 0, 0.625);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.navbar .links a:hover{
    color: red;
    background: black;
    padding: 10px;
    border-radius: 30px;
}
/* HEADER */
header {
    height: 40vh;
    position: relative; 
    padding: 0 4rem;
}

.navbar {
    width: 100%;
    height: 90px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .Logo a {
    font-family: 'copperplate', fantasy;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.navbar .Logo a:hover {
    color: red;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

.dropdown_menu a:hover {
    color: white;
}

.navbar .toggle_button{
    color: black;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN */
.dropdown_menu{
    display: none;
    position: 40px absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(238, 4, 4, 0.652);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 140px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*HERO*/
main{
    height: 65.1vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;   
}

#hero h1{
    font-size: 2.5rem;
    margin-bottom: 0.6rem;
}

/*FOOTER*/
footer {
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align:justify;
    align-items: center;
    padding: 10px auto;
    gap: 3rem;
}
footer a{
    color: red;
}
footer a:hover{
    color: white;
}

/* RESPONSIVE DESIGN*/
@media (max-width: 992px) {
    body{
        height: 109vh;
    }

    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .navbar .links
    {display: none;}
    .navbar .toggle_button{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
